header {
    background-color: #f0f8ff;
    color: #61ca90;
    margin: 20px;
    padding: 20px;
    border: 2px solid #add8e6;
}

main {
    background-color: #fffacd;
    color: #7a4ca5;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ffd700;
}

footer {
    background-color: #e0eee0;
    color: #ec7e7e;
    margin: 20px;
    padding: 15px;
    border: 2px solid #90ee90;
}

h2 {
    font-size: 2.2em;
    text-decoration: underline;
}

.destaque {
    font-style: italic;
    background-color: #837d9e;
    padding: 5px;
    border-radius: 4px;
}

#importante {
    border-top: 4px solid #dc143c;
    padding-top: 10px;
}